@orange:#f26522;
@grey: #666;
body {
  font-family: 'Roboto';
}
*,*:focus,*:active {
  outline: 0;
}
.container {
  width:892px;
}
.headerimg {
  background-image: url(../img/header.jpg);
  height:149px;
}
.headtext {
  color: @orange;
  font-size: 34px;
  font-weight: 100;
  margin-bottom: 0;
  margin-top: 10px;
}
.sometext {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0px;
  color: @grey;
}
.soc-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  margin-top: 12px;
  li {
    display: inline-block;
    margin-left: 4px;
    a {

    }
  }
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  margin-bottom: 5px;
  font-weight: 300;
  li {
    display: inline-block;
    position: relative;
    a {
      text-transform: uppercase;
      font-size:20px;
      margin-left: 20px;
      color: @grey;
      -webkit-transition: .25s;
      -moz-transition: .25s ;
      -ms-transition: .25s ;
      -o-transition: .25s ;
      transition: .25s ;
      &:hover {
        color: @orange;
        text-decoration: none;
      }
    }

  }
  li:hover > .submenu {
    display: block;
  }
  li > .submenu {
    position: absolute!important;
    width: 190px;
    display: none;
    z-index: 25;
    padding: 0;
    background-color: #000;
    -webkit-box-shadow: 0px 2px 5px #000;
    -moz-box-shadow: 0px 2px 5px #000;
    box-shadow: 0px 5px 5px #000;
    li {
      display: block!important;
      padding: 10px;
      a {
        color: #fff;
        margin:10px;
        &:hover {
          color: @orange;
        }
      }
    }
  }
}
.indeximg {
  background-image: url(../img/indeximg.jpg);
  height: 958px;
}
.copyright {
  text-align: center;
  color: #000;
  font-size: 14px;
  background-color: #c0bfbf;
  font-weight: 400;
  margin: 0;
  padding:10px 0;
}
footer {
  margin-bottom: 5px;
}
.sectbg {
  background-image: url(../img/sectionbg.jpg);
  background-repeat: no-repeat;
  background-color: #eceaea;
  padding-top:90px;
}
.about-left {
  margin: 25px;
  img {
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.55);
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.55);
    box-shadow: 2px 2px 2px rgba(0,0,0,.55);
  }
  .phone {
    font-weight: 400 !important;
  }
  .email {
    font-weight: 400 !important;
    a {
      color: @orange
    }
  }
  .about-head {
    font-weight: 400;
    color: @orange;
  }
  .text p {
    font-size: 14px;
    font-weight: 300;
  }
}
.about-right {
  margin-left:70px;
  margin-top: 30px;
  .abz {
    margin-bottom:15px;
    p {
      margin: 0;
      font-size:18px;
      font-weight:300;
    }
  }
}
.slider-for {
  margin:0 5%;
  .slick-prev::before, .slick-next::before {
    color: @orange;
    font-size: 40px;
  }
  .slick-prev, .slick-next {
    width: 40px;
    height: 40px;
  }
  .slick-next {
    right: -40px;
  }
  .slick-prev {
    left: -40px;
  }
  img {
    max-width:100%;
    margin: 0 auto;
    cursor: pointer;
  }
  h2 {
    text-align: center;
    font-weight: 300;
    font-size: 2em;
  }
}
.slider-nav {
  img {
    max-width:150px;
    height:auto;
  }
}
.new-container {
  margin:15px;
  border-bottom:1px solid fade(@grey,30%);
  .new-head {
    font-size: 24px;
    font-weight: 300;
  }
  .new-content {
    padding:15px 0;
  }
}