{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="sectbg">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="about-left">
                                    <img src="{% static 'img/photo.jpg' %}">
                                    <div class="text">
                                        <h4 class="about-head">О себе:</h4>
                                        {{ about|safe }}
                                        <p class="phone">Телефон: {{ phone }}</p>
                                        <p class="email">Email: <a href="mailto:{{ email }}">{{ email }}</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="about-right">
                                    {{ text|safe }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}