{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Оксана Гамбургер</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% block header %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="headerimg"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="headtext">Оксана Гамбургер</h1>
                <span class="sometext">Живопись-Графика</span>

            </div>
            <div class="col-md-4">
                <ul class="soc-icons">
                    <li><a target="_blank" href="http://vk.com/id51533842"><img src="{% static 'img/vk.jpg' %}"></a>
                    </li>
                    <li><a target="_blank" href="http://facebook.com/arlan.dina"><img
                            src="{% static 'img/fb.jpg' %}"></a></li>
                    <li><a target="_blank" href="https://illustrators.ru/users/id58915"><img src="{% static 'img/in.jpg' %}"></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="menu">
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    <li><a href="{% url 'about' %}">Биография</a></li>
                    <li>
                        <a href="#">Галерея</a>
                        <ul class="submenu">
                            <li><a href="{% url 'gallery' 1 %}">Графика</a></li>
                            <li><a href="{% url 'gallery' 2 %}">Живопись</a></li>
                            <li><a href="{% url 'gallery' 3 %}">Иллюстрации</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'news' %}">Новости</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5 class="copyright">Волгоград 2016</h5>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/js.js' %}"></script>
{% endblock %}
</body>
</html>