{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="sectbg">
                <div class="row">
                    <div class="col-md-12">
                        <div class="slider-for">
                            {% for obj in gallery_qs %}
                            <div>
                                <h2>"{{ obj.name }}"</h2>
                                <img src="{{ obj.img.url }}">
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="slider-nav">
                            {% for obj in gallery_qs %}
                                 <div><img src="{{ obj.img_150x200.url }}"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}