{% extends 'base.html' %}

{% block content %}
    <section class="indexsect">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="indeximg"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}