{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sectbg">
                    <div class="row">
                        <div class="col-md-12">
                            {% for obj in news %}
                                <div class="new-container">
                                    <div class="new-head">{{ obj.title }}</div>
                                    <div class="new-content">
                                        {{ obj.text|safe }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}